:root {
    --bckg-color: #242933;
    --letters-color: #acbae0;
    --btn-color: #6c63ff;
}
html { 
    background-color: var(--bckg-color);
    color: var(--letters-color)
}

body{
    display: flex;
    justify-content: center;
}

.section-form{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid var(--letters-color);
    border-radius: 5px;
    background-color: #2f3644;
    width: 375px;
    height: 500px;
}

.form {
    width: 320px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 30px;
}

.input-div{
    display: flex;
    flex-direction: column;
}

.input {
    height: 30px;
} 

.btn{
    background-color: var(--btn-color);
    border: 1px solid var(--btn-color);
    border-radius: 2px;
    height: 40px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 10px;
}

h1{
    margin-top: 30px;
    margin-left: 30px;
}

.input {
    border: 1px solid #374669;
    width: 310px;
    border-radius: 5px;
    outline: none;
    font-size: 1em;
}

.err-msg-name, .err-msg-email, .err-msg-pass, .err-msg-confirmPass{
    color: #fa5252;
}


/*media queries*/
@media all and (min-width: 768px) {
    .section-form{
        width: 400px;
        height: 500px;
    }

    .form {
        width: 350px;
        height: 450px;
    }
}

.invalid {
    border:2px solid #fa5252 ;
    background-image: url(./images/error-icon.svg);
    background-repeat: no-repeat;
    background-position: 98%;
}

.valid{
    border:2px solid #69db7c ;
    background-image: url(./images/success-icon.svg);
    background-repeat: no-repeat;
    background-position: 98%;
}